
<ul class="nav navbar-nav">
    <!--<li class="active"><a href="#">Home</a></li>-->
    <li><a href="../Views/PPA.html">Pharma Production Areas</a></li>
    <li><a href="../Views/USP797.html">USP 797</a></li>
    <li><a href="../Views/ESD.html#/">ESD Coatings</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Featured Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="PPA.html#/HEPA">Hepa Filters</a></li>
            <li><a href="PPA.html#/Modular">Modular Cleanrooms</a></li>
            <li><a href="PPA.html#/BSC">Bio-Safety Cabinets</a></li>
            <!--<li role="separator" class="divider"></li>
            <li class="dropdown-header">Consumables</li>
            <li><a href="USP797.html#/Consumables/?ddselect=8">Gloves</a></li>
            <li><a href="../Views/PPA.html">Hairnets</a></li>
            <li><a href="../Views/PPA.html">Sticky/Tack Mats</a></li>
            <li><a href="../Views/PPA.html">Lab Coats</a></li>
            <li><a href="../Views/PPA.html">Coveralls</a></li>
            <li><a href="../Views/PPA.html">Overshoes</a></li>
            <li><a href="../Views/PPA.html">Oversleeves</a></li>-->
        </ul>
    </li>
</ul>