<script src="../Scripts/jquery-2.1.4.min.js"></script>
<script src="../Scripts/Analytics.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
<script src="../Scripts/angular-sanitize.min.js"></script>
<script src="../Scripts/Angularytics.js"></script>
<script src="../Scripts/angular-route.min.js"></script>
<script src="../Scripts/angular-resource.min.js"></script>
<script src="../Controllers/RouteControllerPPA.js"></script>
<script src="../Directives/Directives.js"></script>
<script src="../Directives/DirectiveLandingPages.js"></script>
<script src="../Services/Services.js"></script>
<script src="../Controllers/Controllers.js"></script>
<script src="../Scripts/anchorScroll.min.js"></script>
